extends layout

block content
  h1 OAuth Tutorial Project
  h2 JS Lib. Sign-In
  div(class="g-signin2" data-onsuccess="onSignIn")
  h2 Direct Sign-In
  a(href="https://accounts.google.com/o/oauth2/v2/auth?scope=https%3A//www.googleapis.com/auth/userinfo.email&include_granted_scopes=true&response_type=token&state=state&redirect_uri=https://oauth-demo-111.herokuapp.com/auth&client_id=348153526947-05049c9jn0mmd95f54aro3b34duj4gmk.apps.googleusercontent.com") Click to open sign-in screen
  h3 Current Token:
  h3= token