doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://apis.google.com/js/platform.js" async defer)
    meta(name="google-signin-client_id" content="348153526947-05049c9jn0mmd95f54aro3b34duj4gmk.apps.googleusercontent.com")
  body
    block content
